/*Main Highlight Color: #33cc59*/
/*Slightly Darker Highlight Color: #2eb850*/
/*Dark Gray Color: #262626*/
body {
    position: relative;
    font-family: 'Raleway', helvetica, sans-serif;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
}
.navbar li a, .navbar .navbar-brand {
    color: #ccc !important;
}
.navbar li a:hover, .navbar .navbar-brand:hover {
    color: white !important;
}
.text-green {
    color: green;
}
.section {
    padding: 100px 50px;
}
.section h1 {
    font-size: 42px;
    font-weight: 600;
}
.bg-white {
    background-color: white;
}
.bg-dark-gray {
    background-color: #262626;
    color: white;
}
.bg-green {
    background-color: #33cc59;
    color: white;
}
.parallax-window {
    min-height: 500px;
    background: transparent;
}
.title-img {
    height: 700px;
    background: transparent;
}
.max-width {
    display: block;
    max-width: 1300px;
    margin: 0 auto;
}
.img-card {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #262626;
    padding-bottom: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    transition: all 0.4s;
}
.img-card img {
    margin-bottom: 20px;
    border-radius: 8px 8px 0 0;
}
.img-card:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    box-shadow: 0 0 15px #262626;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.img-responsive {
    width: 100%;
}
.footer {
    background-color: #262626;
    color: white;
    text-align: center;
    padding: 50px;
}
#home {
    box-shadow: -10px 0 50px black;
}